name: Typescript Package CI

on:
  push:
  workflow_dispatch:
    inputs:
      beta_release:
        description: Create beta release
        required: true
        type: boolean

jobs:
  typescript:
    uses: skyleague/node-standards/.github/workflows/reusable-typescript.yml@main
    with:
      standards_postinstall: npm link
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  build:
    uses: skyleague/node-standards/.github/workflows/reusable-build.yml@main
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  library:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download node standards
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build.outputs.artifact_name }}
      - uses: skyleague/node-standards/.github/actions/setup-node@main
        with:
          working-directory: examples/library/
          global-packages: yalc
          preinstall: yalc publish --script=false && cd examples/library && yalc add @skyleague/node-standards
          install: npm install --no-script
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm run check:full
        working-directory: examples/library

  yargs:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download node standards
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build.outputs.artifact_name }}
      - uses: skyleague/node-standards/.github/actions/setup-node@main
        with:
          working-directory: examples/yargs-cli/
          global-packages: yalc
          preinstall: yalc publish --script=false && cd examples/yargs-cli && yalc add @skyleague/node-standards
          install: npm install --no-script
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm run check:full
        working-directory: examples/yargs-cli

  release:
    needs: [library, yargs, typescript, build]
    uses: skyleague/node-standards/.github/workflows/reusable-release.yml@main
    permissions:
      contents: read
      id-token: write
    with:
      build_artifact_name: ${{ needs.build.outputs.artifact_name }}
      beta_release: ${{ inputs.beta_release || false }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
